*{
	box-sizing: border-box;
	text-decoration: none;
	scroll-behavior: smooth;
	align-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



body{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color:transparent;
	font-size:1rem;
	line-height:1.5;
	background-color: #1a2456;
	background-image: url(img/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	font-weight:300;
	line-height:1.5;
	margin:0;
	text-align:left
}
.container{
	width: 1140px;
	margin: 0 auto;
}

.header-area{
	margin-top: 20px;
	padding: 0 20px;
	background-color: #1a2456;
}

.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header ul {
  list-style-type: none;
  display: flex;
}


.header ul li a {
  display: block;
  color: #ff8b68;
  text-decoration: none;
  transition: color 1000ms;
}


.header ul li ul {
  display: none;
  position: absolute;
  font-size: 16px;
  background-color: #f0efed;
  padding: 10px 0;
  margin-left: -30px;
  border-radius: 12px;
}
.header ul li:hover ul {
  display: inline-flex;
  flex-direction: column;
}

.dropdown{
	padding: 5px 8px;
	width: 100%;
}

.dropdown:hover{
	color: #ff501c;
}

.header ul li:hover a {
  color: #ff501c;
}

.header .logo:hover{
	color: #ff501c;
}

.header ul li {
	display: block;
	margin: 0 20px;
	color: #ff8b68;
	text-transform: uppercase;
}

.logo{
	font-family: 'Bebas Neue', cursive;
	font-size: 26px;
	text-transform: uppercase;
	color: #ff8b68;
	transition: color 1000ms;
}

.main-content{
	background-image: url(img/bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
}

.content{
	color: rgb(239, 194, 179);
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 4px;
	margin: 0 15em;
	padding-top: 15%;
}

.text-center-2 {
    font-size: 10px;
    font-weight: 200;   
}
.sr-only {
	clip:rect(0,0,0,0);
	border:0;
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	white-space:nowrap;
	width:1px
}

.downward {
	color: white;
	scale: 1;
  opacity: 1;
  transition: transform .5s ease,opacity .25s ease;
  transform: translate(0, 350%);
}

.product{
	background-color: #f0efed;
	position: relative;
	width: 100%;
	z-index: 1;
}

.main-product{
	display: flex;
}

.row {
 display:flex;
 flex-wrap:wrap;
 margin-left:-20px;
 margin-right:-20px
}

.mx-n2{
	margin-right:-.5rem!important;
	margin-left:-.5rem!important;
}

.mx-lg-n4 {
 margin-left:-1.5rem!important;
 margin-right:-1.5rem!important
 }

.mb-3{
	margin-bottom:1rem!important
}

.col-md-6 {
  flex:0 0 50%;
  max-width:50%
 }

.mb-4{
	margin-top: 1.5rem!important;
	margin-bottom:1.5rem!important
}

.px-2{
	padding-right:.5rem!important;
	padding-left:.5rem!important
}

.product-module--card--63b90{
	position:relative
}

.text-dark{
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	margin-bottom: 0;
	color: #1a2456;
}

.sell {
  position: absolute;
  transform: translate(38em, -16px);
  font-weight: 200;
	font-size: .9rem;
}

.desc{
	text-transform: none;
	font-size: .9rem;
	margin: 10px 0;
	font-weight: 200;
}

.footer-area ul{
	list-style-type: none;
	display: inline-block;
	padding: 20px 0;
}

.footer-area li{
	margin: 10px 0;
	margin-right: 60px;
}

.footer-area ul li{
  display: flex;
  color: #ff8b68;
  text-decoration: none;
  transition: color 1000ms;
}

.footer-area ul li a{
	display: block;
	margin: 0 20px;
	color: #ff8b68;
	text-decoration: none;
	font-size: .8em;
	letter-spacing: .5px;
}
