@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root {
  --nav-name-font-size: 1.5rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px) {
  :root {
    --nav-name-font-size: 1rem;
    --normal-font-size: 1rem;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
	font-weight: 300;
	line-height:1.5;
	background-color: #1a2456;
	background-image: url(img/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	font-weight:300;
	line-height:1.5;
	margin:0;
	text-align:left
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*===== HEADER =====*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  background-color: #1a2456;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header__logo {
    color: #efc2b3;
    font-family: 'Bebas Neue', cursive;
    font-size: 26px;
	text-transform: uppercase;
}
.header__toggle {
  font-size: 1.7rem;
  cursor: pointer;
  color: #efc2b3;
}


.content{
	color: rgb(239, 194, 179);
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 4px;
	margin: 200px 40em;
	padding-top: 5% !important;
    height: 530px;
}

.text-center-2 {
    font-size: 10px;
    font-weight: 200;   
}
.sr-only {
	clip:rect(0,0,0,0);
	border:0;
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	white-space:nowrap;
	width:1px
}

.downward {
	color: white;
	scale: 1;
  	opacity: 1;
 	transform: translateY(200px)
}

.shop{
	background-color: #f0efed;
	position: relative;
	width: 100%;
}

.shop-parent{
    margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.shop-child{
	display: grid;
	align-content: grid;
	position: relative;
	margin: 30px 0;
}

.shop-child .behind-img{
	display: none;
    position: absolute;
    top: 0;
	left: 0;
	z-index: 99;
}

.shop-child:hover .behind-img{
	display: inline;
}

img{
	max-width: 100% !important;
	height: 350px !important;
	cursor: pointer;
}


a.title {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: #1a2456;
    letter-spacing: 1px;
}

a.desc {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #1a2456;
}

a.sell {
    text-align-last: end;
    color: #1a2456;
    font-weight: 500;
    transform: translate(0, -51px);
}

.logo{
	font-family: 'Bebas Neue', cursive;
	font-size: 26px;
	text-transform: uppercase;
	color: #efc2b3;
}

.footer-area{
    background-color: #1a2456;
    margin: 0 140px;
    margin-top: 40px;
}

.footer{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.mediasocial{
	align-items: center;
	background-color: #efc2b3;
	border-radius: 50%;
	display: inline-flex;
	height: 2em;
	padding: .5em;
	text-align: center;
	width:2em;
}

.mediasocial svg{
	height: 1.3em;
	margin: 0 auto;
	width:1.3em;
}

.mediasocial path{
	fill:#1a2456;
}


@media screen and (max-width: 767px) {
    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: #1a2456;
        width: 80%;
        height: 100vh;
        padding: 2rem 0;
        z-index: 100;
        transition: 0.5s;
        overflow-y: auto;
    }

    body{
      background-position: top;
      background-size: 200% !important;
    }

    .content{
        margin: 200px 20em;
        margin-bottom: 100px !important;
        font-size: .8em !important;
    }

    .header{
        padding:0 60px;
    }
    .header__logo{
        font-size: 20px;
    }

    img{
		max-width: 300px;
		height: 200px;
		margin-left: 20px;
	}

	.title{
		margin-left: 20px;
	}
	.desc{
		margin-left: 20px;
	}
	.sell{
		transform: translate(0, -50px) !important;
	}
  
}


.nav__content {
  display: flex;
  flex-direction: column;
}
.nav__perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
}

.nav__name {
    font-family: 'Bebas Neue', cursive;
	font-size: 26px;
	text-transform: uppercase;
	color: #efc2b3;
	transition: color 1000ms;
}
.nav__item {
  margin-bottom: 2rem;
}
.nav__link {
  color: #efc2b3;
}
.nav__link:hover {
  color: #ff8b68;
}

/*Show menu*/
.show {
  left: 0;
}

/*Active link*/
.active {
  color: #efc2b3;
}

/*=== Dropdown ===*/
.dropdown__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropdown__icon {
  font-size: 1.3rem;
  transition: 0.5s;
}
.dropdown__menu {
  margin: 1rem 0 0 1rem;
  display: none;
}
.dropdown__item {
  margin: 1rem 0;
}
.dropdown:hover > .dropdown__menu {
  display: block;
}
.dropdown:hover .dropdown__icon {
  transform: rotate(180deg);
}


@media screen and (min-width: 576px) {
  .nav {
    width: 288px;
  }
}
@media screen and (min-width: 768px) {
  body {
    margin: 0;
    background-size: 1500px !important;
    background-position: top;
  }
  .header__logo, .header__toggle {
    display: none;
  }

  .content{
    margin-bottom: 110px !important;
    font-size: .8em !important;
  }

  .header{
    padding:0 60px;
  }
  .header__logo{
    font-size: 20px;
  }

  img{
    max-width: 350px;
    height: 230px;
    margin-left: 20px;
  }

.title{
    margin-left: 20px;
}
.desc{
    margin-left: 20px;
}
.sell{
    transform: translate(0, -50px) !important;
}


  .nav {
    width: 100%;
  }
  .nav__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav__perfil {
    flex-direction: row;
    text-align: initial;
    margin-bottom: 0;
  }
  .nav__name {
    color: #efc2b3;
  }
  .nav__list {
    display: flex;
    align-items: center;
  }
  .nav__item {
    margin: 0 1.5rem;
    padding: 1.4rem 0;
  }
  .nav__link {
    color:#efc2b3;
  }
  .nav__link:hover {
    color: #ff8b68;
  }

  .dropdown {
    position: relative;
  }
  .dropdown__menu {
    position: fixed;
    margin: 0;
    top: calc(3rem + 1rem);
    padding: 0.5rem 1.5rem;
    background-color: #1a2456;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
  }
  .dropdown__item {
    margin: 0.5rem 0;
  }
}
@media screen and (min-width: 1024px) {
    body{
        background-size: 100%;
    }
    .content{
        margin-bottom: 0 !important;
    }

  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  img{
	max-width: 100% !important;
	height: 350px !important;
	cursor: pointer;
}
}


@media only screen and (max-width: 1201px) {
    body{
        font-size: .9rem;
    }

    .content{
        font-size: 1em;
    }
            
    .downward{
        scale: 0;
        opacity: 0;
    }
        
    .mediasocial{
        font-size: 14px;
    }
}

@media only screen and (max-width: 1024px){
    body{
        font-size: .8rem;
        background-size: 110%;
    }
        
    .logo{
        font-size: 22px;
    }
        
    .content{
        font-size: 1em;
        margin-bottom: 120px;
    }
    img{
        max-width: 100% !important;
        height: 300px !important;
        cursor: pointer;
    }
    .sell{
        transform: translate(31em, -16px);
    }
        
    .mediasocial{
        font-size: 10px;
    }
}

@media only screen and (max-width: 425px){
    body{
        background-size: 300% !important;
    }

    .content{
        font-size: 8px !important;
        margin: 0 100px;
        margin-top: 30em;
        margin-bottom: -45px !important;
    }
    .content h1{
        padding-top: 10px;
    }

    .text-center-2{
        font-size: 6px;
    }

    .shop-child{
        margin-top: 30px;
        margin-bottom: 0;
    }
    img{
        max-width: 300px !important;
        width: 100%;
        height: 200px !important;
        margin-left: 25px;
    }
    .title{
        font-size: 1.5em !important;
		margin-left:25px ;
	}
	.desc{
		margin-left: 25px;
        font-size: 1em !important;
	}
	.sell{
		transform: translate(0, -45px) !important;
	}

    .footer-area{
        margin: 0 35px;
        margin-top: 40px;
    }
}
        
@media only screen and (max-width: 375px){
  body{
      background-position: top;
  }

  img{
      margin-left: 0;
  }
  .title{
      margin-left:0;
  }
  .desc{
      margin-left: 0;
  }
  .sell{
      transform: translate(0, -45px) !important;
  }

  .shop-child{
      margin-top: 15px;
      margin-bottom: 0;
  }
}
        
@media only screen and (max-width: 320px){
  body{
    background-size: 345% !important;
  }

  .header{
      padding: 0 30px;
  }
}