*{
	box-sizing: border-box;
	text-decoration: none;
	scroll-behavior: smooth;
	align-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



body{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color:transparent;
	font-size:1rem;
	line-height:1.5;
	background-color: #1a2456;
	background-image: url(img/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	font-weight:300;
	line-height:1.5;
	margin:0;
	text-align:left
}
.container{
	width: 1140px;
	margin: 0 auto;
}

.menu-navbar{
	display: none;
	position: absolute;
	top: 25px;
	right: 30px;
	width: 35px;
}

.header-area{
	margin-top: 20px;
	padding: 0 20px;
	background-color: #1a2456;
}

.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header ul {
  list-style-type: none;
  display: flex;
}


.header ul li a {
  display: block;
  color: #efc2b3;
  text-decoration: none;
  transition: color 1000ms;
}


.header ul li ul {
  display: none;
  position: absolute;
  font-size: 16px;
  background-color: #f0efed;
  padding: 10px 0;
  margin-left: -30px;
  border-radius: 12px;
}
.header ul li:hover ul {
  display: inline-flex;
  flex-direction: column;
}

.dropdown{
	padding: 5px 8px;
	width: 100%;
	color: #212529;
}

.dropdown:hover{
	color: #ff8b68;
}

.header ul li:hover a {
  color: #ff8b68;
}

.header .logo:hover{
	color: #ff8b68;
}

.header ul li {
	display: block;
	margin: 0 20px;
	color: #ff8b68;
	text-transform: uppercase;
}

.logo{
	font-family: 'Bebas Neue', cursive;
	font-size: 26px;
	text-transform: uppercase;
	color: #efc2b3;
	transition: color 1000ms;
}

.main-content{
	background-image: url(img/bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
}

.content{
	color: rgb(239, 194, 179);
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 4px;
	margin: 0 15em;
	padding-top: 15%;
}

.text-center-2 {
    font-size: 10px;
    font-weight: 200;   
}
.sr-only {
	clip:rect(0,0,0,0);
	border:0;
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	white-space:nowrap;
	width:1px
}

.downward {
	color: white;
	scale: 1;
  	opacity: 1;
 	transform: translate(0, 350%);
}

.shop{
	background-color: #f0efed;
	position: relative;
	width: 100%;
}

.shop-parent{
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	justify-content: space-around;
}

.shop-child{
	display: grid;
	align-content: grid;
	position: relative;
	margin: 30px 0;
}

.shop-child .behind-img{
	display: none;
    position: absolute;
    top: 0;
	left: 0;
	z-index: 99;
}

.shop-child:hover .behind-img{
	display: inline;
}

img{
	max-width: 100%;
	height: 350px;
	cursor: pointer;
}


a.title {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: #1a2456;
    letter-spacing: 1px;
}

a.desc {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #1a2456;
}

a.sell {
    text-align-last: end;
    color: #1a2456;
    font-weight: 500;
    transform: translate(0, -51px);
}


.footer{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.mediasocial{
	align-items: center;
	background-color: #efc2b3;
	border-radius: 50%;
	display: inline-flex;
	height: 2em;
	padding: .5em;
	text-align: center;
	width:2em;
}

.mediasocial svg{
	height: 1.3em;
	margin: 0 auto;
	width:1.3em;
}

.mediasocial path{
	fill:#1a2456;
}

		/* Responsive */


		/* large screens like Desktops */

@media only screen and (max-width: 1201px) {
	body{
		font-size: .9rem;
	}

	.container{
		width: 1000px;
	}

	.content{
		font-size: 1.5em;
	}
	
	.downward{
		scale: 0;
		opacity: 0;
	}

	.mediasocial{
		font-size: 14px;
	}
}

		/* for small screens like laptop */

@media only screen and (max-width: 1024px){
	body{
		font-size: .8rem;
	}
	
	.container{
		width: 769px;
		margin-top: 20px;
	}

	.main-content{
		height: 500px !important;
	}

	.logo{
		font-size: 22px;
	}

	.content{
		font-size: 1em;
	}
	.row{
		margin: auto;
		padding-left: 10px;
	}

	.sell{
		transform: translate(31em, -16px);
	}

	.mediasocial{
		font-size: 10px;
	}
}

		/* or iPads & tablets */

@media only screen and (max-width: 768px){
	body{
		font-size: .7em;
		background-size: 0;
	}
	
	.container{
		width: 600px;
	}

	.main-content{
		height: 400px !important;
	}

	.navbar{
		display: none !important;
	}

	.menu-navbar{
		display: block;
	}

	img{
		max-width: 300px;
		height: 200px;
		margin-left: 20px;
	}

	.title{
		margin-left: 20px;
		font-size: 1.7em !important;
	}
	.desc{
		margin-left: 20px;
		font-size: 1.3em !important;
	}
	.sell{
		font-size: 1.3em !important;
		transform: translate(0, -45px) !important;
	}

	.footer{
		font-size: 1.2em !important;
	}
}

@media only screen and (max-width: 425px){
	.container{
		width: 350px;
	}

	body{
		font-size: .6em;
	}

	.content{
		margin: 15px;
		padding: 0;
		transform: translateY(150px);
	}
}

@media only screen and (max-width: 375px){
	.container{
		width: 300px;
	}

	.shop-child{
		margin-top: 15px;
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 320px){
	.shop-parent{
		width: 300px;
	}
}